<div class="container-fluid bg-light"
     style="border-bottom: 1px solid #1b1e21; border-top: 1px solid #1b1e21">
  <div class="row justify-content-center align-items-center">

      <div *ngFor="let command_list of ListCommand"
           class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mt-1 mb-1">
        <button class="btn btn-light btn_remote_controller element_center_col remote_controller_accordion"
                data-toggle="collapse" role="button" (click)="audio.play()"
                aria-expanded="false" name="remote_controller_{{ command_list.id_command_record_controlled }}">
                {{ command_list.id_command_record_controlled }}</button>
      </div>

  </div>
</div>

<div id="remote_controller_button">

  <div *ngFor="let command_list of ListCommand">
    <div class="collapse multi-collapse" id="remote_controller_{{ command_list.id_command_record_controlled }}" data-parent="#remote_controller_button">
      <div class="card card-body">
        <div class="container-fluid mt-3">
          <div class="row justify-content-center align-items-center">

            <div *ngFor="let id_commands of command_list.list_id_command_record" class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-2 mt-1">
              <button class="btn btn-light btn_remote_controller element_center_col" (click)="goTextCommandToServer($event)"
                      name="{{ command_list.id_command_record_controlled }} {{ id_commands }}">
                      {{ id_commands }}</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
